/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#font {
    font-size: 35px;
    font-family: 'Courier New', Courier, monospace;
    margin-right: 20px;
    margin-left: 10px;
}

a {
    text-decoration: none !important;
    text-decoration-color: black;
  }

.cv_img {
    background: url("./img/cv_img.jpg") no-repeat;
    background-size: 150px;
    width: 150px;
    height: 150px;
    border-radius: 50%;

}

.parent-div {
    display: flex;
    height: 550px;
    justify-content: center;
    align-items: center;
}


.email-icon {
    margin-left: 20px;
}

 */


/*  
 .wrapper {
    display: flex;  
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center; 
  }
  
  .wrapper > * {
    padding: 10px;
    flex: 1 100%;
  }
  
  .header {
    background: rgb(255, 255, 255);
  }
  
  .footer {
    background: lightgreen;
  }
  
  .main {
    text-align: left;
    background: url("./img/cv_img.jpg") no-repeat deepskyblue;
    background-size: 200px;
    width: 150px;
    height: 150px;
    border-radius: 100%;
  }


  .aside-1 {
    background: gold;
  }
  
  .aside-2 {
    background: hotpink;
  }
  
  @media all and (min-width: 600px) {
    .aside { flex: 1 0 0; }
  }
  
  @media all and (min-width: 800px) {
    .main    { flex: 0.3 0px; }
    .aside-1 { order: 1; } 
    .main    { order: 2; }
    .aside-2 { order: 3; }
    .footer  { order: 4; }
  }
  
  body {
    padding: 2em; 
  } */
.serv {
    display: flex;
    height: 550px;
    justify-content: center;
    align-items: center;
}

  .serv ul {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
  }
  
  .serv ul li {
    margin-left: 20px;
    margin-right: 20px;
    list-style: none;
    flex: 0 0 25%;
    
  }

.cv_img, .py, .email{
    margin:0 auto;
    text-align:center;
   
}

.imgclass {
    background-size: 200px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

a {
    text-decoration: none !important;
    text-decoration-color: black;
  }